<%= error_messages_for 'version_load' %>

<!--[form:version_load]-->
<div class="box tabular">
    <p><%= f.text_field :name %></p>
    <p><%= f.text_field :weeks_before %></p>
    <p><%= f.text_field :weeks_after %></p>
  </div>
<!--[eoform:version_load]-->
