<h2><%=l(:label_version_load)%> &#187; <%=h @version_load.name %></h2>

<% labelled_tabular_form_for :version_load, @version_load, :url => {:controller=>'version_loads', :action=>'update'}, :html => { :class => nil, :method => :put } do |f| -%>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p><%= submit_tag l(:button_update) %></p>
<% end -%>
