/* styles for workload calendar plugin */
table.workload { border-collapse:collapse; margin:0px 0 6px 0; }
table.workload th { padding:3px; border:1px solid #EEE; }
table.workload td { border:1px solid #EEE; }
table.workload td.today { background:#FFD; }
table.workload td.selected { background:#88A; }

/* th workload colours */
table.workload th.load-0, table.workload th.load-1 { background-color:#9D9; }
table.workload th.load-2 { background-color:#FD4; }
table.workload th.load-3 { background-color:#F33; }
table.workload th.load-4 { color: #FFF; background-color:#000; }
