/* styles for workload calendar plugin */
table.workload { border-collapse:collapse; margin:10px 0 15px; border:1px solid #e0e0e0; z-index:20; }
table.workload th { width:30px; padding:1px 0; border:1px solid #e0e0e0; height:1.5em; vertical-align:middle; background-color:#f0f0f0; }
table.workload th:first-child { font-weight:normal; }
table.workload td { border:1px solid #e0e0e0; height:1.2em; vertical-align:middle; padding:2px 0; }
table.workload td.version { max-width:230px; padding:4px 8px; white-space:nowrap; }
table.workload td.today { background:#ffdddd; }
table.workload td.today.selected { background:inherit; }
table.workload div.working { background-color:#99c; color:#fff; padding:0.2em 0.8em; margin:0; text-align:center; }
table.workload div.working.begun {
  margin-left:2px;
  -moz-border-radius-topleft:14px; -webkit-border-top-left-radius:14px; border-top-left-radius:14px;
  -moz-border-radius-bottomleft:14px; -webkit-border-bottom-left-radius:14px; border-bottom-left-radius:14px;
}
table.workload div.working.ended {
  margin-right:2px;
  -moz-border-radius-topright:14px; -webkit-border-top-right-radius:14px; border-top-right-radius:14px;
  -moz-border-radius-bottomright:14px; -webkit-border-bottom-right-radius:14px; border-bottom-right-radius:14px;
}
table.workload span.version-name { font-weight:bold; font-size:10px; text-decoration:none !important; text-shadow:1px 1px 1px #666; }

/* th workload colours */
table.workload th .tooltip { border-width:0 0 6px 0; border-style:solid; }
table.workload th:first-child .tooltip { border-width:0; }
table.workload th div.tooltip:hover { color:inherit; }
table.workload th.load-0 .tooltip { border-color:#7d7; }
table.workload th.load-1 .tooltip { border-color:#fd4; }
table.workload th.load-2 .tooltip { border-color:#f33; }
table.workload th.load-3 .tooltip { border-color:#000; }

/* tooltips */
div.tooltip:hover span.workload-week-tip { width:180px; white-space:nowrap; text-align:center; top:30px; left:-80px; } 
div.tooltip:hover span.workload-version-tip { width:200px; white-space:nowrap; top:50px; left:-50px; } 
